[submodule "deps/arduino-kicad-library"]
	path = deps/arduino-kicad-library
	url = https://github.com/Alarm-Siren/arduino-kicad-library
[submodule "deps/smdRomCart"]
	path = deps/smdRomCart
	url = git@github.com:tehKaiN/smdRomCart.git
